.hero {
  height: 53.8rem;
  background-image: url('/images/mobile/image-header.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $screen-phone) {
    height: 80rem;
    background-image: url('/images/desktop/image-header.jpg');
  }

  &__title {
    font-size: 4rem;
    color: $color-white;
    font-family: 'Fraunces', serif;
    margin-top: 14.4rem;
    text-align: center;
    @media screen and(max-width: 767px) {
      max-width: 400px;
    }
    @media screen and(min-width: $screen-tablet) {
      font-size: 5.6rem;
      margin-top: 19.5rem;
    }
  }

  &__arrow {
    margin-top: 5.2rem;
    @media screen and(min-width: $screen-tablet) {
      margin-top: 9.6rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
