html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  border-bottom: 0;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 30;
}

@media screen and (min-width: 768px) {
  .header {
    position: absolute;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 30;
  padding: 3.2rem 2.4rem;
}

@media screen and (min-width: 768px) {
  .header__nav {
    padding: 3.4rem 4rem;
  }
}

.header__logo {
  display: inline-block;
  height: 3.3rem;
}

.header__logo img {
  height: 3.3rem;
}

@media screen and (min-width: 768px) {
  .header .hide-for-tablet {
    display: none;
  }
}

.header__toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__toggle:hover {
  cursor: pointer;
}

.header__toggle > span {
  display: block;
  width: 2.4rem;
  height: 2px;
  transition: all 300ms ease-in-out;
  transform-origin: 1px 1px;
  background-color: white;
  margin-bottom: 6px;
}

@media screen and (max-width: 768px) {
  .header.open .header__toggle > span {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .header.open .header__menu {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .header .hide-for-mobile {
    display: none;
  }
}

.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__links a:not(:last-of-type) {
  margin-left: 4.7rem;
  font-size: 1.8rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .header__links a:not(:last-of-type) {
    font-size: 2rem;
  }
}

.header__links--contact {
  background-color: white;
  color: #23303e;
  margin-left: 4.7rem;
  font-size: 1.5rem;
  font-family: 'Fraunces', serif;
  border-radius: 2.8rem;
  padding: 1.6rem 3rem;
}

@media screen and (max-width: 767px) {
  .header__links--contact {
    background-color: #fad400;
    margin: 0;
  }
}

.header__links--contact:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

@media screen and (max-width: 768px) {
  .header__links--contact:hover {
    background-color: #fad400;
    color: #23303e;
    margin: 0;
  }
}

.header__menu {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding: 0 2.4rem;
  z-index: 100;
  display: none;
  text-align: center;
}

.header__menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 3.9rem 0;
  background-color: white;
}

.header__menu__container:before {
  content: '';
  position: absolute;
  right: 0;
  top: -2.4rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 2.4rem 2.4rem;
  border-color: transparent transparent white transparent;
}

.header__menu a:not(:last-of-type) {
  padding-bottom: 3.2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: #818498;
}

@media screen and (max-width: 768px) {
  .open .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
  }
}

.hero {
  height: 53.8rem;
  background-image: url("/images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 500px) {
  .hero {
    height: 80rem;
    background-image: url("/images/desktop/image-header.jpg");
  }
}

.hero__title {
  font-size: 4rem;
  color: white;
  font-family: 'Fraunces', serif;
  margin-top: 14.4rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hero__title {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 5.6rem;
    margin-top: 19.5rem;
  }
}

.hero__arrow {
  margin-top: 5.2rem;
}

@media screen and (min-width: 768px) {
  .hero__arrow {
    margin-top: 9.6rem;
  }
}

.hero__arrow:hover {
  cursor: pointer;
}

.features {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.features__item {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.features__item__image {
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .features__item {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .features__item--reverse {
    flex-direction: row-reverse;
  }
}

.features__text {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__text__onimage {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__text__onimage--blue > h2,
.features__text__onimage--blue > p {
  color: #19536b;
}

.features__text__onimage--cyan > h2,
.features__text__onimage--cyan > p {
  color: #25564b;
}

.features__text--container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6.4rem 3.2rem;
}

@media (min-width: 768px) {
  .features__text--container {
    align-items: flex-start;
    text-align: start;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .features__text {
    text-align: left;
  }
}

.features__text__header {
  font-family: 'Fraunces', serif;
  font-size: 3.2rem;
  color: #23303e;
  margin-bottom: 2.4rem;
  max-width: 32.5rem;
}

@media (min-width: 768px) {
  .features__text__header {
    font-size: 4rem;
  }
}

.features__text__header--image {
  max-width: 100%;
  margin-bottom: 2.7rem;
}

.features__text__description {
  font-size: 1.8rem;
  max-width: 32.7rem;
  color: #818498;
  padding-bottom: 3.2rem;
}

.features__text__description--image {
  padding-bottom: 0;
  max-width: 37.7rem;
}

.features__text__link {
  font-family: 'Fraunces', serif;
  font-size: 1.5rem;
  color: #23303e;
  position: relative;
}

.features__text__link:after {
  content: '';
  height: 1rem;
  border-radius: 0.5rem;
  width: 110%;
  position: absolute;
  left: -0.6rem;
  bottom: -0.3rem;
  background-color: #fad400;
  z-index: -1;
  opacity: 0.3;
}

.features__text__link:hover {
  cursor: pointer;
}

.features__text__link:hover:after {
  opacity: 1;
}

.features__text__link--red:after {
  background-color: #fe7867;
}

.features__image {
  width: 100%;
  display: flex;
}

.features__image img {
  width: 100%;
  height: 100%;
}

.features__image__text {
  position: absolute;
  bottom: 0;
}

.testimonials {
  padding: 6.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .testimonials {
    padding: 16rem 0;
  }
}

.testimonials__header {
  font-family: 'Fraunces', serif;
  font-size: 1.6rem;
  color: #a7abae;
  text-align: center;
  margin-bottom: 6.4rem;
}

@media screen and (min-width: 768px) {
  .testimonials__header {
    font-size: 2rem;
    margin-bottom: 8.1rem;
  }
}

@media screen and (min-width: 768px) {
  .testimonials__container {
    display: flex;
  }
}

.testimonials__image {
  border-radius: 100%;
  width: 7.2rem;
  height: 7.2rem;
  margin-bottom: 3.2rem;
}

@media screen and (min-width: 768px) {
  .testimonials__image {
    margin-bottom: 5.2rem;
  }
}

.testimonials__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem;
  margin-bottom: 6.4rem;
}

@media screen and (min-width: 768px) {
  .testimonials__item {
    margin-bottom: 0;
  }
}

.testimonials__comment {
  max-width: 35rem;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 3.2rem;
  color: #5a636c;
}

@media screen and (min-width: 768px) {
  .testimonials__comment {
    margin-bottom: 6.9rem;
  }
}

.testimonials__name {
  font-family: 'Fraunces', serif;
  font-size: 1.8rem;
  color: #23303e;
  margin-bottom: 0.9rem;
}

.testimonials__position {
  color: #a7abae;
  font-size: 1.4rem;
}
/*# sourceMappingURL=style.css.map */